* {
  box-sizing: border-box;
}

body {
  margin: 10px;
  background-color: lightgrey;
  color: red;
}
article {
  margin: 10px;
  background-color: white;
  padding: 10px;
  border-radius: 15px;
}

.picture {
  border-radius: 10px;
  margin: 10px;
}

.linkToAccount {
  color: lightgrey;
}

button {
  color: blue;
  border: 0px;
  background-color: white;
}
